<h1 align="center">An Introduction to Machine Learning - 25737</h1>
<h4 align="center">Dr. Sajjad Amini</h4>
<h4 align="center">Sharif University of Technology, Spring 2023</h4>

# Problem Set 01

Welcome to your first assignment. This exercise gives you a brief introduction to Python.

STUDENT NAME: Artin Safaei Estalkhzir

STUDENT ID: 99109093

## About iPython Notebooks ##

iPython Notebooks are interactive coding environments embedded in a webpage. You will be using iPython notebooks in this class. You only need to write code between the ### START CODE HERE ### and ### END CODE HERE ### comments. After writing your code, you can run the cell by either pressing "SHIFT"+"ENTER" or by clicking on "Run Cell" (denoted by a play symbol) in the upper bar of the notebook. 

**Exercise**: Set test to `"Hello World"` in the cell below to print "Hello World" and run the two cells below.

In [ ]:
### START CODE HERE ###
test = "Hello world"
test
### END CODE HERE ###

'Hello world'

<font color='blue'>
**What you need to remember**:
- Run your cells using SHIFT+ENTER (or "Run cell")
- Write code in the designated areas using Python 3 only
- Do not modify the code outside of the designated areas

# 1.
>What are the lengths of the following lists and strings below? Fill in the variable `lengths` with your predictions. (Try to make a prediction for each list *without* just calling `len()` on it.)

In [ ]:
a = [1, 2, 3]
b = [1, [2, 3]]
c = []
d = [1, 2, 3][1:]
e = 'it\'s ok'
f = ""
g = """hey"""
h = '\n'

# Put your predictions in the list below. Lengths should contain 8 numbers, the
# first being the length of a, the second being the length of b and so on.
### START CODE HERE ###
lengths = [3,2,0,2,7,0,3,1]
lengths
### END CODE HERE ###

[3, 2, 0, 2, 7, 0, 3, 1]

# 2. 
>Swap the values to which a and b refer.

In [ ]:
a = [1, 2, 3]
b = [3, 2, 1]

### START CODE HERE ###
a,b = b,a
print('a after swap:', a)
print('b after swap:', b)
### END CODE HERE ###

a after swap: [3, 2, 1]
b after swap: [1, 2, 3]

# 3. 
>Which of the two variables below has the smallest absolute value? Use Python's built-in functions.

In [ ]:
x = -10
y = 5


### START CODE HERE ###
smallest_abs = min(x,y)
smallest_abs
### END CODE HERE ###

-10

# 4. 

> A simple exercise! Run the cell below and try to explain the results for yourself:

In [ ]:
print( 1.0 + 1.0 - 1.0 )
print( 1.0 + 1.0e20 - 1.0e20 )
print( 1.0e20 - 1.0e20 + 1 )

1.0
0.0
1.0

First one: it's obvious
Second one: The number of bits in the floating point representation is not enough to store 1 in addition.
Third one: At first the number of bits is okay for floating point representation and after the subtraction it's zero which is okay based on number of bits and then the number 1 will add.

# 5.
>Many programming languages have [`sign`](https://en.wikipedia.org/wiki/Sign_function) available as a built-in function. Python doesn't, but we can define our own! 
In the cell below, define a function called `sign` which takes a numerical argument and returns -1 if it's negative, 1 if it's positive, and 0 if it's 0.

In [ ]:
def sign(x):
    # ("pass" is a keyword that does literally nothing. We used it as a placeholder
    # because after we begin a code block, Python requires at least one line of code)
    ### START CODE HERE ###
    if x>0:
      return 1
    elif x<0:
      return -1
    else:
      return 0    

    ### END CODE HERE ###
    

# You can try different examples to check your function:
print(sign(2))
print(sign(-2))
print(sign(0))

1
-1
0

# 6. 
>Complete the body of the following function according to its docstring.

HINT: Python has a built-in function `round`.

In [ ]:
def round_to_two_places(num):
  
  
    """Return the given number rounded to two decimal places. 
    
    >>> round_to_two_places(3.14159)
    3.14
    """
    ### START CODE HERE ###
    
    return round(num,2)
    ### END CODE HERE ###
    

print(round_to_two_places(9.9999))

10.0

The help for `round` says that `ndigits` (the second argument) may be negative.
What do you think will happen when it is? Try an example in the cell below.

In [ ]:
round(232.4243, -2)

200.0

A negative value for ndigits will round to a power of 10. For example -2 will round to 100.

# 7.
> Write a function that evaluates the polynomial $${3x^2 − x + 2}$$

In [ ]:
def polynomial(x):
    ### START CODE HERE ###
    A = 3*x**2 - x + 2
    return A
    ### END CODE HERE ###

# 8.
>Complete the function below according to its docstring.

In [ ]:
def select_second(L):
    """Return the second element of the given list. If the list has no second
    element, return None.
    """
    ### START CODE HERE ###
    if len(L)<2:
      return 'None'
     

    return L[1]
 
 
select_second([1])  
    ### END CODE HERE ###

'None'

# 9.
>We're using lists to record people who attended a class and what order they arrived in. For example, the following list represents a class with 7 students, in which 'Amirhossein' showed up first and 'Pedram' was the last to arrive:
    
> class_attendees = ['Amirhossein', 'Hadi', 'Fatemeh', 'Mahtab', 'Ali', 'Nasim', 'Pedram']

> A student is considered 'fashionably late' if they arrived after at least half of the class's students. However, they must not be the very last student (that's taking it too far). In the above example, Ali and Nasim are the only students who were fashionably late.
Complete the function below which takes a list of class attendees as well as a person, and tells us whether that person is fashionably late.

In [ ]:
def fashionably_late(arrivals, name):


    """Given an ordered list of arrivals to the class and a name, return whether the student with that
    name was fashionably late.
    """
    ### START CODE HERE ###
    if name in arrivals:

     half = len(arrivals)/2
     attendance_number = arrivals.index(name)
     if attendance_number > half and attendance_number != len(arrivals)-1:
       return True

     else:
       return False  
    else:
      return 'The name is not on the list'
fashionably_late(['Amirhossein', 'Hadi', 'Fatemeh', 'Mahtab', 'Ali', 'Nasim', 'Pedram'],'Pedram')
    ### END CODE HERE ###

False

# 10.
>Complete the function below according to its docstring.

In [ ]:
def has_lucky_number(nums):
   

    """Return whether the given list of numbers is lucky. A lucky list contains
    at least one number divisible by 7.
    """
    ### START CODE HERE ###
    c = 0
    for i in nums:
       
       if i%7==0:
          c = c+1
       if c == 1:
         break
    if c ==1:
       return True
    else:
       return False
         
          
has_lucky_number([1,21,3])
    ### END CODE HERE

True

# 11.

>Complete the body of the function below according to its docstring.

In [ ]:
def menu_is_boring(meals):
    """Given a list of meals served over some period of time, return True if the
    same meal has ever been served two days in a row, and False otherwise.
    """
    ### START CODE HERE ###
    for i in range(len(meals)):
       if meals[i] == meals[i+1]:
          return True
       else:
          return False   

menu_is_boring(['sup','sup', 'rice'])          
    ### END CODE HERE ###

True

# 12.

> There is a saying that "Data scientists spend 80% of their time cleaning data, and 20% of their time complaining about cleaning data." Let's see if you can write a function to help clean US zip code data. Given a string, it should return whether or not that string represents a valid zip code. For our purposes, a valid zip code is any string consisting of exactly 5 digits.

HINT: `str` has a method that will be useful here. Use `help(str)` to review a list of string methods.

In [ ]:
def is_valid_zip(zip_code):
    """Returns whether the input string is a valid (5 digit) zip code
    """
    ### START CODE HERE ###
    if len(zip_code) == 5:
       return True
    else:
       return False   
is_valid_zip('absed')
    ### END CODE HERE ###

True

# 13.
>Write a function my_max(x,y) that returns the maximum of x and y. 

>Do not use the max function, but use if instead in following two ways:

>> (a) Use both if and else.

>> (b) Use if but not else (nor elif).

In [ ]:
def my_max_a(x,y):
    ### START CODE HERE ###
    if x <= y:
       return y
    else:
        return x




my_max_a(2,7)
    ### END CODE HERE ###

7

In [ ]:
def my_max_b(x,y):
    ### START CODE HERE ###
    if x<= y:
      return y

    return x 



my_max_b(7,2)
    ### END CODE HERE ###

7

# 14.  

> Let i,j = 1,...,n

>>(a) Generate a list with elements [i,j].

>>(b) Generate a list with elements [i,j] with i < j

>>(c) Generate a list with elements i + j with both i and j prime and i > j

Use List comprehensions

In [ ]:
# a)



### START CODE HERE ###
list_a = []
 

for i in range(1,7):
   for j in range(1,7):
      list_a.append([i,j])


print('a = ', list_a)

 



    
### END CODE HERE ###


# b)
### START CODE HERE ###
list_b = []
 

for k in range(1,7):
   for l in range(1,7):
      if k<l:
         list_b.append([k,l])


print('b = ', list_b)
### END CODE HERE ###


# c)
### START CODE HERE ###
list_c = []

i_prime = []
 
for number in range (1, 7):  
    if number > 1:  
        for i in range (2, number):  
            if (number % i) == 0:  
                break  
        else:  
            i_prime.append(number)  

j_prime = i_prime.copy()

for i in i_prime:
   for j in j_prime:
      if i>j:
        list_c.append([i,j])


print('c = ',list_c)
### END CODE HERE ###

a =  [[1, 1], [1, 2], [1, 3], [1, 4], [1, 5], [1, 6], [2, 1], [2, 2], [2, 3], [2, 4], [2, 5], [2, 6], [3, 1], [3, 2], [3, 3], [3, 4], [3, 5], [3, 6], [4, 1], [4, 2], [4, 3], [4, 4], [4, 5], [4, 6], [5, 1], [5, 2], [5, 3], [5, 4], [5, 5], [5, 6], [6, 1], [6, 2], [6, 3], [6, 4], [6, 5], [6, 6]]
b =  [[1, 2], [1, 3], [1, 4], [1, 5], [1, 6], [2, 3], [2, 4], [2, 5], [2, 6], [3, 4], [3, 5], [3, 6], [4, 5], [4, 6], [5, 6]]
c =  [[3, 2], [5, 2], [5, 3]]

# 15. 

>Complete the body of the function below according to its docstring.

In [ ]:
def my_func():
    """Write a function which will return a list contains all such numbers which are divisible by 7 but are not a multiple
    of 5, between 2000 and 3200 (both included).
    """
    ### START CODE HERE ###
    mylist = []
    
    for i in range(2000,3200):
       if i%7==0 and i%5!=0:
          mylist.append(i)
    return mylist      


#mylist = my_func()
#mylist      
    ### END CODE HERE ###

# 16.

>Write a program that accepts a sentence and calculate the number of letters and digits.
Suppose the following input is supplied to the program:

        hello world! 123
>Then, the output should be:

>>LETTERS 10

>>DIGITS 3

In [ ]:
### START CODE HERE ###

string = input("Enter a sentence: ")

res = [int(i) for i in string if i.isdigit()]



letters = ""

for i in string:
     if i.isalpha():
        letters = "".join([letters, i])


print('LETTERS:', len(letters))
print('DIGITS:', len(res))
### END CODE HERE ###

Enter a sentence: hello world! 123
LETTERS: 10
DIGITS: 3

# 17.
Write a function to sort a list of tuples (name, age, height) by ascending order
where name is string, age and height are numbers. The sort
criteria is:

* 1: Sort based on name;
* 2: Then sort based on age;
* 3: Then sort by score.

The priority is that name > age > score.
If the following list is given as input to the function:
>[('Taha',19,80), ('Farhad',20,90), ('Farrokh',17,91), ('Farrokh',17,93), ('Fatemeh',21,85)]

Then, the output of the program should be:
>[('Farhad', '20', '90'), ('Farrokh', '17', '91'), ('Farrokh', '17', '93'), ('Fatemeh', '21', '85'), ('Taha', '19', '80')]

In [ ]:
def sortTuple(inputList):
    ### START CODE HERE ###
    output = sorted(inputList, key=lambda element: (element[0], element[1], element[2]))
    return output
    ### END CODE HERE ###

output = sortTuple([('Taha',19,80), ('Farhad',20,90), ('Farrokh',17,91), ('Farrokh',17,93), ('Fatemeh',21,85)])
print(output)

[('Farhad', 20, 90), ('Farrokh', 17, 91), ('Farrokh', 17, 93), ('Fatemeh', 21, 85), ('Taha', 19, 80)]